<%= form_for([@step, @text_message], html: { class: "pure-form pure-form-stacked" }) do |f| %>
  <div class="form-group">
    <%= f.label "Enter text message" %>
    <%= f.text_field :content, :size => 80, :maxlength => 160, class: 'pure-input',
      placeholder: "What would you like to say?" %>
  </div>

  <div class="form-group">
    <%= f.label "Enter scheduled date (leave date blank to send now)" %>
    <%= f.date_field :scheduled_date, class: 'pure-input' %>
  </div>

  <div class="form-group">
    <%= f.label "Enter scheduled time (pst)" %>
    <%= f.time_field :scheduled_time, class: 'pure-input' %>
  </div>

  <div class="form-group">
  <%= f.submit "Save Text Message", class: 'pure-button pure-button-primary' %>
  <%= link_to "Cancel", :back %>
  </div>
<% end %>