<% if user_signed_in? %>
	<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <%= link_to image_tag('alliance.png'), clients_path, { :class=> "inline-display pure-menu-heading" } %>
	  <ul class="float-right">
	  	<li><%= link_to "Hello, #{current_user.first_name}!", edit_user_registration_path(current_user) %></li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		</ul>
	</div>
<% else %>
	<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <%= link_to image_tag('alliance.png'), root_path, { :class=> "inline-display pure-menu-heading" } %>
	  <ul class="float-right">
			<li><%= link_to "about", '#' %></li>
			<li><%= link_to "contribute", 'https://github.com/brit200313/alliance', :target => "_blank" %></li>
	  	<li><%= link_to "sign in", new_user_session_path %></li>
		</ul>
	</div>
<% end %>
